@font-face {
  font-family: 'iconfont';  /* Project id 2859901 */
  src: url('//at.alicdn.com/t/font_2859901_svhc3kt2qkl.woff2?t=1634690735139') format('woff2'),
       url('//at.alicdn.com/t/font_2859901_svhc3kt2qkl.woff?t=1634690735139') format('woff'),
       url('//at.alicdn.com/t/font_2859901_svhc3kt2qkl.ttf?t=1634690735139') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}